@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,900;1,200&display=swap');
:root {
    --header-bg: #1F2937;
    --quote-bg: #E5E7EB;
    --hero-color: #F9FAF8;
    --button-color: #3882F6;

    --font: Fira Sans, sans-serif;
    --hero-text: 48px;
    --secondary-text: 24px;
    --information-text: 36px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,p {
    font-family: var(--font);
}


/* HEADER CSS */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    background: var(--header-bg);
    color: var(--hero-color);
}

.header-1 {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background: #19212d;
}

.logo {
    cursor: pointer;
}

.header-1 ul {
    display: flex;
    gap: 35px;
}

.header-1 li {
    list-style-type: none;
    cursor: pointer;
    font-family: var(--font);
}

.header-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
    margin-bottom: 50px;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-text h2 {
    font-size: 2.5rem;
}

.header-text button {
    width: 110px;
    height: 30px;
    font-family: var(--font);
    font-weight: 900;
    color: var(--quote-bg);
    cursor: pointer;
    background: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 5px;
    padding: 5px;
    transition: all 200ms ease-in;
}

.header-text button:hover {
    border: 1px solid var(--hero-color);
}

.header-img {
    width: 400px;
}

.header-img img {
    width: 100%;
    border-radius: 5px;
}

/* END OF HEADER CSS */

/* MAIN CONTENT CSS */

/* 4 IMAGES SECTION */
.main-content {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    gap: 100px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.section-1 h2 {
    font-size: 2.5rem;
}

.four-images {
    display: flex;
    justify-content: space-evenly;
    gap: 45px;
}

.four-images-content {
    width: 200px;
    text-align: center;
}

.four-images img {
    width: 200px;
    height: 150px;
    cursor: pointer;
    border: 2px solid var(--button-color);
    border-radius: 5px;
    transition: all 100ms ease-in;
}

.four-images img:hover {
    border: 2px solid black;
}

/* END OF 4 IMAGES SECTION */

/* QUOTE SECTION */

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 200px;
    background: var(--quote-bg);
}

.quote-section p {
    font-style: italic;
}

.quote-section h4 {
    position: relative;
    left: 220px;
}

/* END OF QUOTE SECTION */

/* START OF CALL TO ACTION SECTION */

.cta-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 900px;
    border-radius: 5px;
    background: var(--button-color);
    align-self: center;
    margin-bottom: 70px;
    color: var(--hero-color);
    padding: 30px;
}

.cta-1 {
    width: 550px;
}

.cta-1 p {
    font-size: .9rem;
}

.cta-2 button {
    width: 90px;
    height: 30px;
    background: var(--button-color);
    border: 2px solid var(--hero-color);
    border-radius: 5px;
    cursor: pointer;
    color: var(--hero-color);
    font-family: var(--font);
}

.cta-2 button:hover {
    border: 2px solid black;
    color: black;
}

/* END OF CALL TO ACTION SECTION */

/* END OF MAIN CONTENT CSS */